<footer>
	<div>
		<a href="https://github.com/itayperry" title="My Github Page" target="_blank" id="github-link">
			<span>Made by Itay Perry <i class="fab fa-github"></i></span>
		</a>
	</div>
	<div id="tmdb-rights">
    	<span>This product uses the TMDb API but is not endorsed or certified by TMDb</span>
    	<img src="assets/images/TMDB_logo.png" width="30" alt="The Movie DB logo">
    </div>
    <div>
    	<span>
	    	Main icon made by 
	        <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>
	        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	        and licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">Creative Commons BY 3.0</a>
        </span>
    </div>
</footer>