<header id="header-container">
    <div id="header">
        <div id="title-container">
        	<img class="hide" src="assets/images/logo.png" alt="logo" width="40">
        	<img id="project-title" src="assets/images/My-Movie-List.png" alt="logo" width="170">
        </div>
        <div id="btn-logo-container">
            <button (click)="showAddForm()"><i class="fas fa-plus-circle"></i>Add New Movie</button>
            <img class="hide" src="assets/images/TMDB_logo.png" width="40" alt="The Movie DB logo">
        </div>
    </div>
</header>
